{% extends 'base.html.twig' %}


{% block title %}
  {{ 'En attente de réinitialisation de mot de passe compte Orientation Authentique'|trans }}
{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">
      <div class="uk-alert-success" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{ message }}</p>
      </div>
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning" role="alert">
      <div class="uk-alert-warning" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{ message }}</p>
      </div>
    </div>
  {% endfor %}
  {% for message in app.flashes('error') %}
    <div class="alert alert-danger" role="alert">
      <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{ message }}</p>
      </div>
    </div>
  {% endfor %}
{% endblock %}


{% block body %}
  <div class="uk-container">
    <div class="uk-margin-auto uk-margin-auto-vertical uk-width-1-2@s uk-card uk-card-default uk-card-body">
      <div class="uk-text-center">
        {{ form_start(form) }}
          <div class="uk-margin">
            <div class="uk-inline">
              {{ form_row(form.pwd, { 'attr': {'class': 'uk-input'} }) }}
            </div>
          </div>
          <div class="uk-margin">
            <div class="uk-inline">
              {{ form_row(form.pwd1, { 'attr': {'class': 'uk-input'} }) }}
            </div>
          </div>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('check_password') }}"/>
          <button type="submit" class="uk-button uk-button-default">
            <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'Réinitialiser le mot de passe'|trans }}
          </button>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}
