{% extends 'base.html.twig' %}


{% block title %}
  {{ 'Réinitialisation de mot de passe compte Orientation Authentique'|trans }}
{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">
      <div class="uk-alert-success" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{ message }}</p>
      </div>
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning" role="alert">
      <div class="uk-alert-warning" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{ message }}</p>
      </div>
    </div>
  {% endfor %}
  {% for message in app.flashes('error') %}
    <div class="alert alert-danger" role="alert">
      <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{ message }}</p>
      </div>
    </div>
  {% endfor %}
{% endblock %}



{% block body %}
  <div class="uk-container">
    <h1 class="uk-heading-line uk-heading-primary uk-text-center"><span>{{ 'Réinitialisation de mot de passe'|trans }}</span></h1>
    {% if not form.vars.valid %}
      <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{ 'Votre formulaire n\'est pas valide'|trans }}</p>
      </div>
    {% endif %}
    <hr class="uk-divider-icon"><br>
    <div class="">
      <div class="uk-text-center">
        {{ form_start(form) }}
          <div class="uk-margin">
            <div class="uk-inline">
              {{ form_row(form.email, { 'attr': {'class': 'uk-input'} }) }}
            </div>
          </div>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('resetting') }}"/>
          <button type="submit" class="uk-button uk-button-default">
            <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'Réinitialiser mot de passe'|trans }}
          </button>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}
