{{ form_start(form, { 'attr': {'class': 'border border-light p-5',  'style': 'color: #757575;'} }) }}
    <div class="row">
      <div class="md-form">

      </div>
    </div>
    <div class="form-row">
        <div class="col">
            <div class="md-form">
                {{ form_row(form.name, { 'attr': {'class' : "form-control mb-4"} }) }}
            </div>
        </div>
        <div class="col">
            <div class="md-form">
                {{ form_row(form.localisation, { 'attr': {'class' : "form-control mb-4"} }) }}
            </div>
        </div>
        <div class="col">
            <div class="md-form">
                {{ form_row(form.date, { 'attr': {'class' : "form-control mb-4"} }) }}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <div class="md-form">
                {{ form_row(form.depth, { 'attr': {'class' : "form-control mb-4"} }) }}
            </div>
        </div>
        <div class="col">
            <div class="md-form">
                {{ form_row(form.cost, { 'attr': {'class' : "form-control mb-4"} }) }}
            </div>
        </div>
        <div class="col">
            <div class="md-form">
                {{ form_row(form.recipient, { 'attr': {'class' : "form-control mb-4"} }) }}
            </div>
        </div>
    </div>
    <div class="md-form mb-4 pink-textarea active-pink-textarea">
      {{ form_row(form.description, { 'attr': {'class' : "md-textarea form-control"} }) }}
    </div>
      {{ form_row(form.user, { 'attr': {'class' : "browser-default custom-select"} }) }}
      <button type="submit" class="btn btn-primary btn-md">Enregistrer</button>
{{ form_end(form) }}
