{% extends 'base-donnateur.html.twig' %}


{% block title %}Informations sur le puit {{ puit.name }}{% endblock %}


{% block notifications %}
{% endblock %}


{% block body %}
  <div class="container">
    <!-- Section: Magazine v.2 -->
    <div class="row justify-content-center">
      <h2 class="h1-responsive font-weight-bold text-center my-5">
        {% trans with {'%name%': puit.name, '%localisation%': puit.localisation} from 'app' %}Informations sur le puit %name% à %localisation% {% endtrans %}
      </h2>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-header">
            {{ 'Don de'|trans }} <strong>{{ puit.user.firstname }} {{ puit.user.lastname }}</strong>
          </div>
          <div class="card-body">
            <h5 class="card-title"><strong>{{ puit.name }}</strong> à <strong>{{ puit.localisation }}</strong></h5>
            <p class="card-text">
              {% if puit.description is empty %}
                {{ 'Pas de description'|trans }}
              {% else %}
                {{ puit.description }}
              {% endif %}
              <hr>
              <strong>{{ 'Date de début des travaux'|trans }}</strong>: {{ puit.beginingAt|date('d-m-Y') }}<br>
              <strong>{{ 'Date de fin des travaux'|trans }}</strong>: {{ puit.endingAt|date('d-m-Y') }}<br>
              <strong>{{ 'Date de livraison des travaux'|trans }}</strong>: {{ puit.deliveredAt|date('d-m-Y') }}<br>
              <hr>
              <strong>{{ 'Profondeur'|trans }}</strong>: {{ puit.depth }}m<br>
              <hr>
              <strong>{{ 'Coût de la construction'|trans }}</strong>:
              {% if puit.cost == 0 %}
                {{ 'Inconnu'|trans }}<br>
              {% else %}
                {{ puit.cost|number_format(0, ',', ' ') }} F CFA<br>
              {% endif %}
              <strong>{{ 'Bénéficiare'|trans }}</strong>: {{ puit.recipient }}<br>
              <hr>
            </p>
            <!-- <a href="#!" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Section: Magazine v.2 -->
  </div>
{% endblock %}


{% block javascript %}
  <script>
    $(document).ready(function() {
      $('.mdb-select').materialSelect();
    });
  </script>
{% endblock %}
