{% extends 'base.html.twig' %}


{% block title %}
  {{ 'Toutes les mosquées'|trans }}
{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">
      <div class="uk-alert-success" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{ message }}</p>
      </div>
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning" role="alert">
      <div class="uk-alert-warning" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{ message }}</p>
      </div>
    </div>
  {% endfor %}
  {% for message in app.flashes('error') %}
    <div class="alert alert-danger" role="alert">
      <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{ message }}</p>
      </div>
    </div>
  {% endfor %}
{% endblock %}


{% block body %}
<div class="container">
  <!-- Section: Magazine v.2 -->
  <section class="magazine-section my-5">
    <!-- Section heading -->
    <a href="{{ path('add.mosquee') }}" class="btn btn-outline-default btn-rounded waves-effect">{{ 'Ajouter'|trans }}</a>
    <h2 class="h1-responsive font-weight-bold text-center my-5">{{ 'Liste de toutes les mosquées enregistrées'|trans }}</h2>
      {{ form_start(form) }}
      <div class="row">
        <div class="col">
          {{ form_row(form.nom, {'attr': {'class': 'form-control mb-4'}}) }}
        </div>
        <div class="col">
          {{ form_row(form.localisation, {'attr': {'class': 'form-control mb-4'}}) }}
        </div>
        <div class="col">
          {{ form_row(form.user, {'attr': {'class': 'form-control mb-4'}}) }}
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary btn-md">{{ 'Rechercher'|trans }}</button>
        </div>
      </div>
      {{ form_end(form) }}
    <!-- Section description -->
      <table class="table table-sm">
        <thead>
          <tr>
            <th><strong>#</strong></th>
            <th><strong>{{ 'Donnateur'|trans }}</strong></th>
            <th><strong>{{ 'Nom'|trans }}</strong></th>
            <th><strong>{{ 'Localisation'|trans }}</strong></th>
            <th><strong>{{ 'Description'|trans }}</strong></th>
            <th><strong>{{ 'Actions'|trans }}</strong></th>
          </tr>
        </thead>
        <tbody>
          {% set i = 0 %}
          {% for mosquee in mosquees %}
            {% set i = i + 1 %}
            <!-- Card -->
            <tr>
              <td>{{ i }}</td>
              <td>{{ mosquee.user.firstname }} {{ mosquee.user.lastname }}</td>
              <td>{{ mosquee.name }}</td>
              <td>{{ mosquee.localisation }}</td>
              <td>
                {% if mosquee.description|length > 50 %}
                    {{ mosquee.description|slice(0, 50) ~ '...' }}
                  {% else %}
                    {{ mosquee.description }}
                  {% endif %}
              </td>
              <td>
                <a href="{{ path('edit.mosquee', {id: mosquee.id}) }}" data-toggle="tooltip" title="Modifier">
                  <i class="far fa-edit"></i>
                </a>
                <a href="{{ path('informations.mosquee', {id: mosquee.id}) }}" data-toggle="tooltip" title="Voir les détails">
                  <i class="fas fa-info-circle mdb-gallery-view-icon"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="navigation">
          {{ knp_pagination_render(mosquees) }}
      </div>
  </section>
  <!-- Section: Magazine v.2 -->
</div>
{% endblock %}
